.delete-address-container {
  width: 90%;
  max-width: 600px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto; /* Added margin on top and bottom */
}

.delete-address-container h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px; /* Add spacing below the heading */
}

.delete-address-container p {
  color: #555;
  margin-bottom: 20px;
  font-size: 16px;
}

.delete-address-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-delete-address-danger {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 200px;
}

.btn-delete-address-danger:hover {
  background-color: #c82333;
  text-decoration: none; /* Ensure no underline on hover */
}

.btn-delete-address-secondary {
  padding: 10px 20px;
  background-color: #28a745cf;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  max-width: 200px;
  display: inline-block;
  margin-bottom: 20px; /* Added margin-bottom for spacing */
}

.btn-delete-address-secondary:hover {
  background-color: #000;
  color: #fff;
  text-decoration: none; /* Ensure no underline on hover */
}

@media (max-width: 768px) {
  .delete-address-container {
      padding: 15px;
  }

  .delete-address-container h1 {
      font-size: 22px;
  }

  .delete-address-container p {
      font-size: 14px;
  }

  .btn-delete-address-danger, .btn-delete-address-secondary {
      font-size: 14px;
      padding: 8px 15px;
  }
}

@media (max-width: 480px) {
  .delete-address-container {
      padding: 10px;
  }

  .delete-address-container h1 {
      font-size: 20px;
  }

  .delete-address-container p {
      font-size: 12px;
  }

  .btn-delete-address-danger, .btn-delete-address-secondary {
      font-size: 12px;
      padding: 6px 10px;
  }
}
