.size-chart-modal {
  padding: 20px;
  background-color: #1a1a2e; /* Dark background */
  color: #e0e0e0; /* Light text */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.size-chart-modal h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #e94560; /* Gold */
}

.size-chart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff; /* White background for table */
  color: #333; /* Dark text for table */
}

.size-chart-table th,
.size-chart-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.size-chart-table th {
  background-color: #f9f9f9;
  position: sticky;
  top: 0;
  z-index: 1;
  font-weight: 600;
  font-size: 16px;
}

.size-chart-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.size-chart-table tbody tr:hover {
  background-color: #ddd;
}

.recommendation {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  text-align: center;
}
.recommendation p {
  margin-top: 15px;
  font-size: 24px;
}

.size-chart-diagram {
  text-align: center;
  margin-top: 20px;
}

.size-chart-diagram img {
  max-width: 100%;
  height: auto;
}

.section {
  margin-bottom: 40px; /* Space between major sections */
}

@media (max-width: 768px) {
  .size-chart-table th,
  .size-chart-table td {
      padding: 8px; /* Reduced padding for smaller screens */
  }

  .recommendation {
      padding: 8px; /* Reduced padding for smaller screens */
  }
}