{% extends 'partials/base.html' %}

{% block title %}{{ category.name }}{% endblock %}
{% load static %}

{% block content %}
<section class="section category-detail main-content">
    <section class="sorting">
        <form method="get" class="filter-control">
            <select id="sort" name="sort" onchange="this.form.submit()">
                <option value="default" {% if sort_option == 'default' %}selected{% endif %}>Sort</option>
                <option value="low_to_high" {% if sort_option == 'low_to_high' %}selected{% endif %}>Price: Low to High</option>
                <option value="high_to_low" {% if sort_option == 'high_to_low' %}selected{% endif %}>Price: High to Low</option>
            </select>
        </form>
    </section>
    <div class="container">
    <div class="row">
                <div class="products">
                    {% for product in products %}
                    <div class="product-list">
                        <span class="discount-label">{{ product.get_percentage }}% OFF</span>
                        <a href="{% url 'product_detail' product.pk %}">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
                        </a>
                        <div class="rating">
                            {% for i in ''|ljust:product.rating %}
                                ★
                            {% endfor %}
                        </div>
                        <div class="card-body">
                            <h5 class="brand">{{ product.title }}</h5>
                            <p class="description">{{ product.description|truncatewords:20 }}</p>
                            <p class="price"><span class="old-price">AED {{ product.price }}</span> AED {{ product.discount_price }}</p>
                            <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary">View Product</a>
                            <div class="wishlist-icon"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="paginator">
                    {% if products.has_previous %}
                        <a href="?page={{ products.previous_page_number }}&sort={{ sort_option }}">Previous</a>
                    {% endif %}

                    {% for i in products.paginator.page_range %}
                        <a href="?page={{ i }}&sort={{ sort_option }}" {% if products.number == i %}class="active"{% endif %}>{{ i }}</a>
                    {% endfor %}

                    {% if products.has_next %}
                        <a href="?page={{ products.next_page_number }}&sort={{ sort_option }}">Next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
