{% extends 'partials/base.html' %}

{% block content %}
<div class="coupon-container mt-5">
    <h2 class="coupon-header mb-4">Available Coupon Codes</h2>
    <div class="coupon-row row">
        {% for coupon in coupons %}
        <div class="coupon-card-wrapper col-md-6 mb-4">
            <div class="coupon-card">
                <div class="coupon-card-body">
                    <h5 class="coupon-title">{{ coupon.code }}</h5>
                    <hr class="coupon-divider">
                    <h6 class="coupon-subtitle mb-2 text-muted">{{ coupon.discount }} AED Discount</h6>
                    <p class="coupon-description">{{ coupon.description }}</p>
                    <h6 class="terms-header">Terms and Conditions:</h6>
                    <p class="terms-and-conditions">{{ coupon.terms_and_conditions }}</p>
                    <p class="valid-until-text"><small class="text-muted">Valid until: {{ coupon.valid_to|date:"F j, Y" }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
